@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* background-image: radial-gradient(#140101, 2.1px, transparent 2px);
  background-size: 48px 48px;
  background-color: #fdf4f4; */
}

#title,#name{
  /* font-family: 'Itim', sans-serif; */
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#screen {
  max-height: 550px;
}

@media (max-width: 480px) {
  
  #inp {
    width: 140px;
  }
  #name {
    font-size: large;
  }
  #title {
    font-size: larger;
  }
  #screen {
    max-height: 280px;
  }
  #msg {
    margin-bottom: 10px;
  }
}
#msgbox {
  white-space: pre-wrap;
}

.svg-icon {
  fill: #1e293bce;
  transition: fill 0.3s; /* Smooth transition for color change */
}

.svg-link:hover .svg-icon {
  fill: #6f068a; /* Change to your desired hover color */
}


.foot{
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
}

/* ############################################### */

@keyframes cube {
  from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
  }
  to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #b7ffb1;
  overflow: hidden;
}
.background li {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #b2c9fa;
  color: transparent;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 7s ease-in forwards infinite;
}
undefined
.background li:nth-child(0) {
  animation-delay: 0s;
  left: 12vw;
  top: 68vh;
  border-color: #f4f3ef;
}

@media (max-width: 480px) {
  .background li {
    animation: cube 20s ease-in forwards infinite;
  }
}

.background li:nth-child(1) {
  animation-delay: 2s;
  left: 16vw;
  top: 93vh;
}

.background li:nth-child(2) {
  animation-delay: 4s;
  left: 57vw;
  top: 17vh;
  border-color: #f4f3ef;
}

.background li:nth-child(3) {
  animation-delay: 6s;
  left: 34vw;
  top: 61vh;
}

.background li:nth-child(4) {
  animation-delay: 8s;
  left: 18vw;
  top: 55vh;
  border-color: #f4f3ef;
}

.background li:nth-child(5) {
  animation-delay: 10s;
  left: 31vw;
  top: 97vh;
}

.background li:nth-child(6) {
  animation-delay: 12s;
  left: 5vw;
  top: 25vh;
}

.background li:nth-child(7) {
  animation-delay: 14s;
  left: 14vw;
  top: 28vh;
}

.background li:nth-child(8) {
  animation-delay: 16s;
  left: 94vw;
  top: 4vh;
  border-color: #f4f3ef;
}

.background li:nth-child(9) {
  animation-delay: 18s;
  left: 69vw;
  top: 51vh;
  border-color: #f4f3ef;
}

.background li:nth-child(10) {
  animation-delay: 20s;
  left: 70vw;
  top: 41vh;
}

.background li:nth-child(11) {
  animation-delay: 22s;
  left: 4vw;
  top: 57vh;
  border-color: #f4f3ef;
}

.background li:nth-child(12) {
  animation-delay: 24s;
  left: 38vw;
  top: 71vh;
  border-color: #f4f3ef;
}

.background li:nth-child(13) {
  animation-delay: 26s;
  left: 24vw;
  top: 46vh;
}

.background li:nth-child(14) {
  animation-delay: 28s;
  left: 2vw;
  top: 6vh;
}

.background li:nth-child(15) {
  animation-delay: 30s;
  left: 46vw;
  top: 72vh;
  border-color: #f4f3ef;
}

.background li:nth-child(16) {
  animation-delay: 32s;
  left: 21vw;
  top: 22vh;
  border-color: #f4f3ef;
}

.background li:nth-child(17) {
  animation-delay: 34s;
  left: 96vw;
  top: 15vh;
}

.background li:nth-child(18) {
  animation-delay: 36s;
  left: 81vw;
  top: 38vh;
}

.background li:nth-child(19) {
  animation-delay: 38s;
  left: 37vw;
  top: 83vh;
  border-color: #f4f3ef;
}

.background li:nth-child(20) {
  animation-delay: 40s;
  left: 98vw;
  top: 66vh;
  border-color: #f4f3ef;
}

.background li:nth-child(21) {
  animation-delay: 42s;
  left: 56vw;
  top: 96vh;
}

.background li:nth-child(22) {
  animation-delay: 44s;
  left: 83vw;
  top: 78vh;
  border-color: #f4f3ef;
}

.background li:nth-child(23) {
  animation-delay: 46s;
  left: 53vw;
  top: 89vh;
}

.background li:nth-child(24) {
  animation-delay: 48s;
  left: 42vw;
  top: 92vh;
}

.background li:nth-child(25) {
  animation-delay: 50s;
  left: 49vw;
  top: 49vh;
  border-color: #f4f3ef;
}

.background li:nth-child(26) {
  animation-delay: 52s;
  left: 79vw;
  top: 22vh;
}

.background li:nth-child(27) {
  animation-delay: 54s;
  left: 74vw;
  top: 82vh;
  border-color: #f4f3ef;
}

.background li:nth-child(28) {
  animation-delay: 56s;
  left: 26vw;
  top: 10vh;
  border-color: #f4f3ef;
}

.background li:nth-child(29) {
  animation-delay: 58s;
  left: 66vw;
  top: 0vh;
  border-color: #f4f3ef;
}

.background li:nth-child(30) {
  animation-delay: 60s;
  left: 41vw;
  top: 53vh;
}

.background li:nth-child(31) {
  animation-delay: 62s;
  left: 88vw;
  top: 44vh;
}

.background li:nth-child(32) {
  animation-delay: 64s;
  left: 29vw;
  top: 64vh;
}

.background li:nth-child(33) {
  animation-delay: 66s;
  left: 85vw;
  top: 35vh;
  border-color: #f4f3ef;
}

.background li:nth-child(34) {
  animation-delay: 68s;
  left: 51vw;
  top: 8vh;
  border-color: #f4f3ef;
}

.background li:nth-child(35) {
  animation-delay: 70s;
  left: 63vw;
  top: 33vh;
  border-color: #f4f3ef;
}

.background li:nth-child(36) {
  animation-delay: 72s;
  left: 60vw;
  top: 76vh;
}

.background li:nth-child(37) {
  animation-delay: 74s;
  left: 91vw;
  top: 86vh;
  border-color: #f4f3ef;
}

.background li:nth-child(38) {
  animation-delay: 76s;
  left: 75vw;
  top: 14vh;
  border-color: #f4f3ef;
}

.background li:nth-child(39) {
  animation-delay: 78s;
  left: 9vw;
  top: 31vh;
}