@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-image: radial-gradient(#140101, 2.1px, transparent 2px);
  background-size: 48px 48px;
  background-color: #fdf4f4;
  /* background-image: url("bg.jpg");
  background-size: cover; */
}

#title,#name{
  /* font-family: 'Itim', sans-serif; */
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#screen {
  max-height: 550px;
}

@media (max-width: 480px) {
  
  #inp {
    width: 140px;
  }
  #name {
    font-size: large;
  }
  #title {
    font-size: larger;
  }
  #screen {
    max-height: 280px;
  }
  #msg {
    margin-bottom: 10px;
  }
}
#msgbox {
  white-space: pre-wrap;
}

.svg-icon {
  fill: #1e293bce;
  transition: fill 0.3s; /* Smooth transition for color change */
}

.svg-link:hover .svg-icon {
  fill: #6f068a; /* Change to your desired hover color */
}

.foot{
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
}
