@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    background-image: radial-gradient(#808000b8 2.9px, transparent 2px);
    background-size: 56px 56px;
    background-color: #FFFFE0;
}

#screen{
    max-height: 550px;
}

@media (max-width: 480px) {
    body {
        background-image: radial-gradient(#BA55D3 2.9px, transparent 2px);
        background-size: 56px 56px;
        background-color: #E6E6FA;
    }
    #inp{
        width: 140px;
    }
    #name{
        font-size: large;
    }
    #title{
        font-size: larger;
    }
    #screen{
        max-height: 280px;
    }
    #msg{
        margin-bottom: 10px;
    }
}